body{
    background-color: rgb(169, 169, 169);
}

span{
    color: red;
    size: 18pt;
}
p{
    size: 18pt;

}
#pa{
    text-align: center;
    background-color: rgb(225, 225, 225);
    border: 2rem  solid rgb(225, 225, 225);
    border-radius: 5rem;
}
/* #im{
    text-align: center;
}
#img{
    width: 700px;
} */
#q1{
    background-color: rgb(225, 225, 225);
    border: 10px  solid rgb(225, 225, 225);
    border-radius: 5rem;
}
#q2{
    background-color: rgb(225, 225, 225);
    border: 10px  solid rgb(225, 225, 225);
    border-radius: 5rem;
}
#q3{
    background-color: rgb(225, 225, 225);
    border: 10px  solid rgb(225, 225, 225);
    border-radius: 5rem;
}